<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pusher Flask Test</title>
  <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
  <script>
    // Configuración de Pusher
    Pusher.logToConsole = true;

    var pusher = new Pusher('93f016bf1fd53612e9ad', {
      cluster: 'us2'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      // Mostrar el mensaje recibido en formato JSON
      document.getElementById('message').innerText = JSON.stringify(data);
    });

    // Función para hacer fetch a la ruta /send-message
    function sendMessage() {
      fetch('/evento', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => response.json())
      .then(data => {
        // Mostrar el mensaje de respuesta en el cliente
        document.getElementById('response').innerText = data.message;
      }).catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
</head>
<body>
  <h1>Pusher Flask Test</h1>
  <p>
    Pulsa el botón para enviar un mensaje a través del servidor Flask y Pusher.
  </p>

  <!-- Botón para enviar el mensaje -->
  <button onclick="sendMessage()">Enviar Mensaje a Todos</button>

  <!-- Donde se mostrará el mensaje recibido desde Pusher -->
  <h2>Mensaje Recibido en Pusher:</h2>
  <pre id="message"></pre>

  <!-- Donde se mostrará la respuesta del servidor Flask -->
  <h2>Respuesta del Servidor Flask:</h2>
  <pre id="response"></pre>
</body>
</html>

